{% extends 'base.html' %}

{% block title %}Pelu-Query-a{% endblock %}

{% block content %}
    <h1> Servicios</h1>
    <ul>
        {% for servicio in servicios %}
            {% if not servicio.is_deleted %}
                <li> {{servicio.nombre}} - ${{servicio.precio}} </li>
                <form method="post" action="{% url 'servicio:borrar_servicio' servicio.id%}">
                    {% csrf_token %}
                    <button type="submit">Borrar</button>
                </form>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'servicio:crear_servicio' %}">Crear servicio nuevo</a>
    <a href="{% url 'servicio:servicios_borrados' %}">Reactivar Servicio</a>
{% endblock %}






