
.body{

    background-color: rgb(0, 0, 0);
}


.nav {
    background-color: rgb(77, 77, 77);
}


.navegador .lista-nav{
    margin: 10px;
    color: rgb(250, 248, 248);
    display:  inline;

}

.lista-nav :hover{
    color: rgb(255, 242, 95);
}

.div_block {
    color:rgb(255, 255, 255);
}


footer {

    display: flex;
    align-items: flex-start;
    gap:40px;
    margin: 0 30px;
    color: #a2b5cd;
    position: absolute;
    bottom: 0;
    
}

footer .footer_fo {
    padding: 20px 0;
    justify-content: space-between;
}

footer .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;

}


footer .legal {
    font-size: 12px;

}

footer .legal > a {

    margin: 0 4px;
}

footer .legal > span {
    margin-right: 10px;
}


footer .footer_fo .links {
    display: flex;
    gap: 18px;
}

@media (widht < 620px) {
    footer {
        flex-direction: column;
    }

    footer .footer_fo {
        gap: 16px;
        flex-direction: column-reverse;
    }
}


@media (width >= 620px) {
    footer {
        margin: 0 auto;
        max-width: auto;
        padding: 0;
    }
}

footer .footer_fo .links > a {
    font-size: 24;
}

@media (width <820px){
    footer {
        text-align: center;
        align-items: center;
    }
    footer .footer_fo{

        align-items: center;
    }

    footer .legal > span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}

.links .link-contacto {
    margin-left: 20px;
    text-decoration: none;
    color: #a2b5cd;
    /*transition: color 0.2 ease;*/
}


.links :visited {
    color: #a2b5cd;
}

.links :hover{
    color: white;
    /*transition-delay: 0.1s;*/
}
