{% extends 'base.html' %}

{% block title %}Servicios de {{ profesional_servicios.0.profesional.nombre }} {{ profesional_servicios.0.profesional.apellido }}{% endblock %}

{% block content %}
  <h1>Servicios de {{ profesional_servicios.0.profesional.nombre }} {{ profesional_servicios.0.profesional.apellido }}</h1>
  {% if profesional_servicios %}
    <ul>
      {% for ps in profesional_servicios %}
        <li>{{ ps.servicio.nombre }} - {{ ps.servicio.precio }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay servicios disponibles</p>
  {% endif %}
{% endblock %}
